* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #ffffff;
}

p {
  font-size: 1.5rem;
}

/* Header, Hero */

.header {
  width: 100%;
  height: 100vh;
  background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgRGrZi1BO_Mo1zBBrIzbewHozLZVwB_BX8ypA274IQUiAQrkX3zpqe7N32212wsFjPLjZo7odthBrgTlRWw6a2wwwSb90yhtZWSsLhQfj-sy59oSGqO-9zULJ40VFdsNm9JAeVuD0JAKlFbffLG-if4Y9FW8OcN9741vgo_Ij_nO82ysANEzpKjeITcQ/s16000/Background_of_AbdurRahman_G_Website_1920x1080_1_1.png");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 5px 10% 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 75px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.headerText {
  margin-top: 20%;
  font-size: 2.5rem;
}

.headerText p {
  font-size: 2.5rem;
}

.headerText h1 {
  font-size: 5rem;
  margin-top: 20px;
}

.headerText h1 span {
  color: #ff004f;
}

/* About */
.about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutCol1 {
  flex-basis: 35%;
}

.aboutCol1 img {
  width: 100%;
  border-radius: 15px;
}

.aboutCol2 {
  flex-basis: 60%;
}

.subTitle {
  font-size: 5rem;
  font-weight: 600;
  color: #ffffff;
}

.tabTitles {
  display: flex;
  margin: 20px 0 40px;
}

.tabLinks {
  margin-right: 50px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tabLinks::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tabLinks.activeLink::after {
  width: 50%;
}

.tabContents {
  display: none;
}

.tabContents.activeTab {
  display: block;
}

.tabContents ul li {
  list-style: none;
  margin: 10px 0;
}

.tabDetailTitle {
  padding-top: 20px;
  color: #b54769;
  font-size: 2rem;
}

.tabDetailTitleFirst {
  padding-top: 0;
}

.skills {
  font-size: 1.5rem;
}

/* Services */
.services {
  padding: 30px 0;
}

.servicesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.servicesList div {
  background: #262626;
  padding: 40px;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.5s;
}

.servicesList div:hover {
  background: #ff004f;
  transform: translate(-10);
}

.servicesList div i {
  font-size: 4rem;
  margin-bottom: 30px;
}

.servicesList div h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.servicesList div a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 20px;
  display: inline-block;
}

/* Projects */
.projects {
  padding: 50px 0;
}

.workList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}

.work:hover .layer {
  height: 100%;
}

.layer h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 2rem;
  line-height: 60px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  transition: 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* Contact */
.contactLeft {
  flex-basis: 35%;
}

.contactRight {
  flex-basis: 60%;
}

.contactLeft p {
  margin-top: 30px;
}

.contactLeft p a {
  text-decoration: none;
  color: #ffffff;
}

.contactLeft p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 2.5rem;
}

.socialIcons {
  margin-top: 30px;
}

.socialIcons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: 0.5s;
}

.socialIcons a:hover {
  color: #ff004f;
  transform: translateY(-5);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contactRight form {
  width: 100%;
}

.contactRight form input,
.contactRight form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 6px;
}

.contactRight form .btn2 {
  padding: 14px 60px;
  font-size: 1.8rem;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  background: #262626;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20pxs;
}

.copyright a {
  text-decoration: none;
  color: #ffffff;
}

.copyright i {
  color: #ff004f;
}

.submitMessage {
  color: #61b752;
  margin: -25px 0 10px 0;
  display: block;
  font-size: 1.5rem;
}

/* Hidden Itesm */
.navIcons {
  display: none;
}

/* =========================
CSS for Small Screen (Media Queries)
========================= */

@media only screen and (max-width: 600px) {
  /* Hidden Items Visible */
  .navIcons {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .logo {
    width: 50px;
  }

  /* Header */
  .header {
    background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjGY1vGU16RngYi8wVY2PbX9BnOfYYDIyXwLFN-EnggG8JYyLdwagsDhO0jBQ0PQW7A1xoR5OGgOHsP-fdc6iYFgZ53MuvZQ92-_KIzI3L2wd8-LA8kP1upbR3sM6Dvqz-wm_p9yVAHHR05IAqlYdhG4ANA_xgLOfKmekdFUHTxhTlV4FbVzMl3PuBe7w/s16000/Mobile_Background_of_AbdurRahman_G_1080x1920.png");
  }

  .headerText {
    margin-top: 5%;
    font-size: 1.5rem;
    text-align: center;
  }
  .headerText span {
    display: block;
  }

  .headerText h1 {
    font-size: 3.5rem;
  }

  .headerText p {
    font-size: 2rem;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .navIcons {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .subTitle {
    font-size: 3.5rem;
  }

  .aboutCol1,
  .aboutCol2 {
    flex-basis: 100%;
  }

  .aboutCol1 {
    margin-bottom: 30px;
  }

  .aboutCol2 p {
    margin: 10px 0;
  }

  .tabTitles {
    justify-content: space-between;
  }

  .contactLeft,
  .contactRight {
    flex-basis: 100%;
  }

  .copyright p {
    font-size: 1.3rem;
  }
}
